<div class="container">
    <h1 class="title is-4 is-info help">{{status}}</h1>
    <h1 class="title">Check Whitelist</h1>
    <form #checkWhitelistedForm="ngForm">
        <div class="field">
            <label class="label">Address</label>
            <p class="control">
                <input
                    [(ngModel)]="ethAddressCheck"
                    name="ethAddressCheck"
                    class="input"
                    type="text"
                    placeholder="0x93e66d9baea28c17d9fc393b53e3fbdd76899dae"
                    required
                    #ethAddressCheckModel="ngModel">
            </p>
            <div *ngIf="ethAddressCheckModel.errors && (ethAddressCheckModel.dirty || ethAddressCheckModel.touched)"
                 class="help is-danger">
                <p [hidden]="!ethAddressCheckModel.errors.required">
                    This field is required
                </p>
            </div>
            <div *ngIf="!ethAddressCheckModel.errors && (ethAddressCheckModel.dirty || ethAddressCheckModel.touched)"
                 class="help is-danger">
                <p [hidden]="isAddress(ethAddressCheck)">
                    Must be ethereum address
                </p>
            </div>
        </div>
        <div class="field is-grouped">
            <p class="control">
                <button
                    [disabled]="!checkWhitelistedForm.form.valid"
                    (click)="checkWhitelisted()"
                    class="button is-primary">
                    Send
                </button>
            </p>
        </div>
    </form>
    <h1 class="title">Add to Whitelist</h1>
    <form #addToWhitelistForm="ngForm">
        <div class="field">
            <label class="label">Address</label>
            <p class="control">
                <input
                    [(ngModel)]="ethAddressAdd"
                    name="ethAddressAdd"
                    class="input"
                    type="text"
                    placeholder="0x93e66d9baea28c17d9fc393b53e3fbdd76899dae"
                    required
                    #ethAddressAddModel="ngModel">
            </p>
            <div *ngIf="ethAddressAddModel.errors && (ethAddressAddModel.dirty || ethAddressAddModel.touched)"
                 class="help is-danger">
                <p [hidden]="!ethAddressAddModel.errors.required">
                    This field is required
                </p>
            </div>
            <div *ngIf="!ethAddressAddModel.errors && (ethAddressAddModel.dirty || ethAddressAddModel.touched)"
                 class="help is-danger">
                <p [hidden]="isAddress(ethAddressAdd)">
                    Must be ethereum address
                </p>
            </div>
        </div>
        <div class="field">
            <label class="label">Amount</label>
            <p class="control">
                <input
                    [(ngModel)]="whitelistAmount"
                    name="whitelistAmount"
                    class="input"
                    type="text"
                    placeholder="550"
                    required
                    #whitelistAmountModel="ngModel">
            </p>
            <div *ngIf="whitelistAmountModel.errors && (whitelistAmountModel.dirty || whitelistAmountModel.touched)"
                 class="help is-danger">
                <p [hidden]="!whitelistAmountModel.errors.required">
                    This field is required
                </p>
            </div>
            <div *ngIf="!whitelistAmountModel.errors && (whitelistAmountModel.dirty || whitelistAmountModel.touched)"
                 class="help is-danger">
                <p [hidden]="canBeNumber(whitelistAmount)">
                    Must be a number
                </p>
            </div>
        </div>
        <div class="field is-grouped">
            <p class="control">
                <button
                    [disabled]="!addToWhitelistForm.form.valid || !isAddress(ethAddressAdd)"
                    (click)="addToWhitelist()"
                    class="button is-primary">
                    Send
                </button>
            </p>
        </div>
    </form>
    <h1 class="title">Remove from Whitelist</h1>
    <form #removeFromWhitelistForm="ngForm">
        <div class="field">
            <label class="label">Address</label>
            <p class="control">
                <input
                    [(ngModel)]="ethAddressRemove"
                    name="ethAddressRemove"
                    class="input"
                    type="text"
                    placeholder="0x93e66d9baea28c17d9fc393b53e3fbdd76899dae"
                    required
                    #ethAddressRemoveModel="ngModel">
            </p>
            <div *ngIf="ethAddressRemoveModel.errors && (ethAddressRemoveModel.dirty || ethAddressRemoveModel.touched)"
                 class="help is-danger">
                <p [hidden]="!ethAddressRemoveModel.errors.required">
                    This field is required
                </p>
            </div>
            <div *ngIf="!ethAddressRemoveModel.errors && (ethAddressRemoveModel.dirty || ethAddressRemoveModel.touched)"
                 class="help is-danger">
                <p [hidden]="isAddress(ethAddressRemove)">
                    Must be ethereum address
                </p>
            </div>
        </div>
        <div class="field is-grouped">
            <p class="control">
                <button
                    [disabled]="!removeFromWhitelistForm.form.valid"
                    (click)="removeFromWhitelist()"
                    class="button is-primary">
                    Send
                </button>
            </p>
        </div>
    </form>
    <h1 class="title">Or import list from the KYC provider</h1>
    <form #bulkImportForm="ngForm">
        <div class="field">
            <label class="label">Sheet address header name</label>
            <p class="control">
                <!--TODO: Find out what it should be ?????-->
                <input type="file"
                       [(ngModel)]="importRowAddress"
                       name="importRowAddress"
                       class="input"
                       type="text"
                       placeholder="address"
                       name="importRowAddress"
                       required
                       #importRowAddressModel="ngModel"/>
            </p>
            <div *ngIf="importRowAddressModel.errors && (importRowAddressModel.dirty || importRowAddressModel.touched)"
                 class="help is-danger">
                <p [hidden]="!importRowAddressModel.errors.required">
                    This field is required
                </p>
            </div>
            <label class="label">Sheet amount header name</label>
            <p class="control">
                <!--TODO: Find out what it should be ?????-->
                <input type="file"
                       [(ngModel)]="importRowAmount"
                       name="importRowAmount"
                       class="input"
                       type="text"
                       placeholder="amount"
                       name="importRowAmount"
                       required
                       #importRowAmountModel="ngModel"/>
            </p>
            <div *ngIf="importRowAmountModel.errors && (importRowAmountModel.dirty || importRowAmountModel.touched)"
                 class="help is-danger">
                <p [hidden]="!importRowAmountModel.errors.required">
                    This field is required
                </p>
            </div>
            <label class="label">File</label>
            <p class="control">
                <input type="file"
                       id="bulkImport"
                       name="bulkImport"
                       class="input"
                       required
                       accept=".xlsx, .xls"
                       (change)="handleFileInput($event)"/>
            </p>
            <div class="field is-grouped">
                <p class="control">
                    <button
                        [disabled]="!bulkImport || !bulkImportForm.form.valid"
                        (click)="doExport()"
                        class="button is-primary">Export!
                    </button>
                </p>
            </div>
        </div>
    </form>
</div>
