<div class="container">
    <h1 class="title is-4 is-info help">{{status}}</h1>
    <h1 class="title">Switch Tiers</h1>
    <form #switchTiersForm="ngForm" (submit)="switchTiers()">
        <div class="field">
            <label class="label">Tier</label>
            <p class="control">
                <input
                    type="text"
                    class="input"
                    name="tier"
                    [(ngModel)]="tier"
                    #tierModel="ngModel"
                    placeholder="1 or 2"
                    required>
            </p>
            <div *ngIf="tierModel.errors && (tierModel.dirty || tierModel.touched)"
                 class="help is-danger">
                <p [hidden]="!tierModel.errors.required">
                    This field is required
                </p>
            </div>
            <div *ngIf="!tierModel.errors && (tierModel.dirty || tierModel.touched)"
                 class="help is-danger">
                <p [hidden]="!isNotNumber(tier)">
                    Must be a number
                </p>
            </div>
        </div>
        <div class="field is-grouped">
            <p class="control">
                <button
                    [disabled]="!switchTiersForm.form.valid"
                    class="button is-primary">
                    Send
                </button>
            </p>
        </div>
    </form>
</div>
