<div class="navigation">
    <ul>
        <li>
            <a routerLink="/">Home</a>
        </li>
        <li>
            <a routerLink="/whitelist">Whitelist</a>
        </li>
        <li>
            <a routerLink="/companyWhitelist">Company Whitelist</a>
        </li>
        <li>
            <a routerLink="/balances">Balances</a>
        </li>
        <li>
            <a routerLink="/setRates">Set Rates</a>
        </li>
        <li>
            <a routerLink="/switchTiers">Switch tiers</a>
        </li>
        <li>
            <a routerLink="/withdraw">Withdraw</a>
        </li>
    </ul>
</div>